* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Anek Telugu', sans-serif;
    font-size: 16px;
}
:root {
    --blue: #4C5FD5;
    --gray: #dadbf1;
    --black: #000;
    --white: #fff;
    --fntP: 1.4rem;
    --fntLink: 1.2rem;
}

/* Header */
header {
    background-color: black;
    color: white;
    font-weight: 550;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.container-header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1.3em 0 1.3em;
}
.logo a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
a[target="_blank"]:hover {
    opacity: 0.9;
}
a[href="index.html"]:hover {
    text-decoration: underline;
}
.searchBar i {
    margin: 0.4em 0 0 0.8em;
}
.max {
    display: none;
}
.max a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 0.3em 1em 0.1em;
    margin-right: 0.5em;
    background-color: rgb(41, 41, 41);
    border: 1px solid white;
    border-radius: 5px;
}
.max button {
    color: white;
    font-size: 1.5rem;
    padding: 0.4em 1.2em 0.4em;
    border-radius: 10px;
    background-color: var(--blue);
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 350ms;
}
.max button:hover {
    color: black;
    background-color: white;
}

/* Top */
.top {
    background-color: var(--gray);
    padding: 6em 0;
    text-align: center;
}
.top h2 {
    margin-bottom: 0.7em;
    font-size: 2.6rem;
    font-weight: 100;
    letter-spacing: -0.15rem;
}
.top input {
    padding: 1em 0.7em;
    font-size: 1.2rem;
    color: rgb(53, 53, 53);
    width: 92%;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgb(148, 148, 148);
}
.top input:hover {
    border: 1px solid var(--blue);
}
.top input:focus {
    outline: none;
    border: 1px solid var(--blue);
}

/* Content */
.content {
    padding: 4em 0;
}
.content-container {
    width: 98%;
    margin: 0 auto;
    padding: 3em 0;
    display: flex;
    justify-content: space-evenly;
}
.image, .section-container {
    display: inline-block;
}
.image img {
    width: 80px;
}
.image {
    width: 20%;
}
.section-container {
    width: 60%;
}
.section-container .header {
    font-weight: bold;
    margin-bottom: 0.5em;
}
.section-container p {
    font-size: var(--fntP);
}
.section-container a {
    display: inline-block;
    font-size: var(--fntLink);
    text-decoration: none;
    color: var(--blue);
    margin-top: 0.6em;
}
.section-container a:hover {
    text-decoration: underline;
}

/* Footer */
.footer {
    background-color: #000;
}
.footer-container {
    width: 95%;
    margin: 0 auto;
    display: grid;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 2em 0 2.5em;
    grid-template: repeat(2, 40%) / repeat(2, auto);    
}
.long {
    grid-column: 1 / -1;
    margin-top: 2em;
}
.footer-content .header {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 0.8em;
}
.contact {
    margin-top: 1.8em;
}
footer li {
    list-style: none;
}
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media (min-width: 769px) {
    /* Top */
    .top h2 {
        font-size: 5rem;
        margin-bottom: 0.2em;
    }
    .top input {
        width: 80%;
    }

    /* Content */
    .content {
        width: 75%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
    }
    /* Footer */
    .footer-container {
        grid-template-columns: 25% 25% 40%;
        grid-template-rows: repeat(2, auto);
        gap: 1.3em;
        grid-template-areas:
        "a r ."
        "c p l"
        ;
    }
    .footer-content .header {
        font-size: 1.5rem;
    }
    .footer-content li {
        font-size: 1rem;
        font-weight: 600;
    }
    .contact, .contact + a {
        font-size: 1rem;
    }
    .abstract {
        grid-area: a;
    }
    .resources {
        grid-area: r;
    }
    .community {
        grid-area: c;
    }
    .company {
        grid-area: p;
    }
    .long {
        padding-top: 5em;
        grid-area: l;
    }
}

@media (min-width:1112px) {
    .container-header {
        width: 80%;
        margin: 0 auto;
    }
    .logo {
        margin-top: 1em;
    }
    .min {
        display: none;
    }
    .max {
        display: block;
    }
    .top input {
        width: 55%;
    }

    /* Footer */
    .footer-container {
        width: 82%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .footer-content {

        display: inline-block;

    }
    .long {
        width: 25%;
        font-size: 1.3rem;
    }
}
